# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:example-project

VITE_CONVEX_URL=https://example-project.convex.cloud

VITE_CONVEX_SITE_URL=https://example-project.convex.site

AI_GATEWAY_API_KEY="your-ai-gateway-api-key"
OPENROUTER_API_KEY="your-openrouter-api-key"
OPENAI_API_KEY="your-openai-api-key"
